# data generator
data/generate_logs.py

# __pycache__ 
__pycache__/
*.pyc

# docker
docker/
docker-compose.yml

# env 
server-analysis-env/

# geo lite information
GeoLite_data/
GeoLite_data/GeoLite2-City.mmdb

# Ignore VS Code settings
.vscode/

# Ignore log files
kafka_producer.log
main_processing.log